$cinemaRed1: #AD2831;
$cinemaRed2: #800E13;
$cinemaRed3: #640D14;
$cinemaRed4: #38040E;
$cinemaYellow: #fcc426;
$cinemaYellow2: #d1a015;
$cinemaBlack: #1c1c1c;
$cinemaBlack2: #121212;
$cinemaGreen: #38ab57;