@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: 16px;
  font-family: Poppins, sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #800E13;
  height: 100%;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

#showcaseContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#showInformation {
  width: 1000px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 20px;
}

#showInformation #backIcon {
  font-size: 6em;
  text-shadow: -2.5px -2.5px 2.5px rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #121212;
  cursor: pointer;
}

#showInformation #showText {
  width: 1000px;
  margin-left: 50px;
  margin-bottom: 25px;
  height: 400px;
  cursor: default;
}

#showInformation #showTitle {
  font-size: 4em;
  font-weight: 500;
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 100;
}

#showInformation #showTitle:hover {
  overflow: visible;
}

#showInformation #showGenres {
  font-size: 1.2em;
  margin-bottom: 5px;
}

#showInformation #showDescription {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 15px;
  border-radius: 10px;
  word-wrap: break-word;
  background-color: #640D14;
  max-height: 200px;
  overflow-y: auto;
}

#showInformation #showDescription::-webkit-scrollbar {
  display: none;
}

#showInformation #showDescription::-webkit-scrollbar-track {
  background-color: #640D14;
}

#showInformation #showDescription::-webkit-scrollbar-thumb {
  background-color: #121212;
}

#showInformation #castContainer {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  width: 1000px;
}

#showInformation #castContainer .actorContainer {
  margin-right: 15px;
  width: 150px;
}

#showInformation #castContainer img {
  width: inherit;
  height: 225px;
}

#showInformation #castContainer p {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  overflow: hidden;
  font-size: 0.9em;
  cursor: default;
}

#showInformation #castContainer p:hover {
  overflow: visible;
  visibility: hidden;
  z-index: 1;
}

#showInformation #castContainer p:hover::before {
  content: attr(data-name);
  position: absolute;
  visibility: visible;
  background-color: #800E13;
}

#showInformation #castContainer .actorName {
  color: #fcc426;
}

#showInformation #castContainer .characterName {
  margin-bottom: 10px;
}

#showInformation #castContainer::-webkit-scrollbar {
  height: 15px;
}

#showInformation #castContainer::-webkit-scrollbar-track {
  background-color: #640D14;
}

#showInformation #castContainer::-webkit-scrollbar-thumb {
  background-color: #121212;
}

#metaInformation {
  width: 200px;
  margin: 40px 0px;
  position: relative;
}

#metaInformation #rateButton {
  width: 180px;
  height: 60px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #fcc426;
  border-radius: 15px;
  cursor: pointer;
  visibility: hidden;
}

#metaInformation #rateButton i {
  font-size: 1.8em;
  color: #fcc426;
  margin-right: 5px;
}

#metaInformation #rateButton p {
  font-size: 1.5em;
  color: #fcc426;
}

#metaInformation #rateButton:hover {
  background-color: #640D14;
}

#metaInformation #ratePopup {
  width: 300px;
  height: 120px;
  display: none;
  position: absolute;
  top: 70px;
  left: -60px;
  background-color: #121212;
  border-radius: 15px;
  padding: 10px;
  border: 6px solid #640D14;
}

#metaInformation #ratePopup input {
  width: 200px;
  height: 15px;
  margin: 10px 30px;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  outline: none;
  overflow: hidden;
}

#metaInformation #ratePopup input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  color: #fcc426;
  height: 15px;
}

#metaInformation #ratePopup input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #d1a015;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: -107px 0 0 100px #fcc426;
          box-shadow: -107px 0 0 100px #fcc426;
}

#metaInformation #ratePopup p {
  text-align: center;
  font-size: 1.2em;
}

#metaInformation #ratePopup #popupValue {
  color: #fcc426;
  font-weight: 500;
}

#metaInformation #ratePopup i {
  position: absolute;
  font-size: 2em;
  cursor: pointer;
  color: #AD2831;
  bottom: 5px;
  right: 5px;
}

#showPoster {
  z-index: -1;
  width: 550px;
  margin: 20px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}
/*# sourceMappingURL=showcase.css.map */